@media (min-width: 735px) {
.formulaire{
    background-color: #e5e5e5;
    padding: 40px;
}
h3{
    text-align: center;
}
.bloc-form{
    display:flex;
    justify-content: center;
    border: 0.5px solid black;

    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 60%;
    height: 700px;
    margin: auto;
    margin-top: 40px;
    padding: 70px;
}
.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child){
    font-size: 1.2rem;
    padding: 20px;
}
.rs-btn-toolbar > :not(:first-child):not(.rs-btn-block) {
    margin-left: 15px !important;
}
.rs-control-label{
    color: rgb(5, 5, 5) !important;
}
.submit {
    background-color: #adb3d6 !important;
    box-shadow: 3px 3px 3px 3px #7C809B; 
}
 .btns{
        text-align: center;
    }
}
input{
    border: none;
    border-radius: 8px 8px 8px 8px;
    padding:10px;
    width: 800px !important;
}

textarea{
    border-radius: 8px 8px 8px 8px;
    padding:10px;
    width: 800px !important;
    border: none;
}
#not-mail{
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 620px;
    color: red;
    transform-origin: 50% 50%;
}
@keyframes dongle{
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
}
@media (max-width: 735px) {
    .formulaire{
        background-color: #e5e5e5;
        padding: 40px;
    }
    h3{
        text-align: center;
    }
    .bloc-form{
        display:flex;
        justify-content: center;
        border: 0.5px solid black;
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
       
        height: 700px;
        margin-left: -20px;
        margin-top: 40px;
        padding: 10px;
    }
    .rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child){
        font-size: 1.2rem !important;
        padding: 20px !important;
    }
    .rs-btn-toolbar > :not(:first-child):not(.rs-btn-block) {
        margin-left: 15px !important;
    }
    .rs-control-label{
        color: rgb(5, 5, 5) !important;
    }
    .submit {
        background-color: #adb3d6 !important;
        box-shadow: 3px 3px 3px 3px #7C809B; 
    }
     .btns{
            text-align: center;
        }
    }
    input{
        border: none;
        border-radius: 8px 8px 8px 8px;
        padding:10px;
        width: 300px;
    }
    textarea{
        border-radius: 8px 8px 8px 8px;
        padding:10px;
        width: 300px;
        border: none;
    }
    #not-mail{
        display: none;
        position: absolute;
        margin-top: 50px;
        margin-left: 10px;
        color: red;
        transform-origin: 50% 50%;
    }
    @keyframes dongle{
        0% {
            transform: translate(0px, 0px);
        }
        10% {
            transform: translate(-10px, 0px);
        }
        20% {
            transform: translate(10px, 0px);
        }
        30% {
            transform: translate(-10px, 0px);
        }
        40% {
            transform: translate(10px, 0px);
        }
        50% {
            transform: translate(-10px, 0px);
        }
    }