@media (min-width: 735px) {
.block-container{
  display: flex;
  background-color: #e5e5e5;
  width: 100%px !important;
  height: 500px !important;
}
.banniere{
    position: relative;
    margin-top: 45px;
    margin-bottom: 40px;
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
}
.diapo{
  position: relative;
  margin-top: 45px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
  width: 90%;
}
.header{
  display:flex;
  justify-content: space-around;
}
.header img{
  width: 50% !important;
  height:400px !important;
}
.diapo img{
  width: 70% !important;
  height:400px !important;
  box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
}
.title {
    width: 22ch;
    font-size: 3rem;;
    position:absolute;
    margin-left: -1100px;
    margin-top: 130px;
    animation: typing 6s steps(22), blink .6s step-end infinite alternate;
    overflow: hidden;
    font-weight: bold;
    color: black;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }    
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .describe {
    position:absolute;
    width: 22ch;
    margin-left: -1200px;
    margin-top: 320px;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, rgb(24, 23, 23), #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 10s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
}
.contener_slideshow
{
  width:800px;
  
  overflow: hidden;
  position: relative;
  
}
.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:800px;
  height:211px;
}
.slid_1{left: 0px;}
.slid_2{left: 800px;}
.slid_3{left: 1620px;}
.diapo
{
  width: 1220px;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 15s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 15s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-810px;}
  45% {left:-810px;}
  66% {left:-1620px;}
  90% {left:-1620px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-810px;}
  45% {left:-810px;}
  66% {left: -1620px;}
  90% {left:-1620px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-810px;}
  45% {left:-810px;}
  66% {left:-1620px;}
  90% {left:-1620px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-810px;}
  45% {left:-810px;}
  66% {left:-1620px;}
  90% {left:-1620px;}
}

@media (max-width: 735px) {
  .block-container{
    margin-top: 20px;
    background-color: #e5e5e5;
    width: 90% !important;
    height: 210px !important;
  }
  .banniere{
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 45px;
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5); 
}
.diapo{
  display: none;
}
.header{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  width: 22ch;
  font-size: 1.5rem;
  position:absolute;
  margin-top: -130px;
  margin-left: 60px;
  text-align: center;
  animation: typing 6s steps(22), blink .6s step-end infinite alternate;
  overflow: hidden;
  font-weight: bold;
  color: black;
}
@keyframes typing {
  from {
    width: 0
  }
}    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.describe {
  position:absolute;
  width: 22ch;
  margin-left: 50px;
  margin-top: 100px;
  font-size: 1.8em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, rgb(24, 23, 23), #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
}
