@media (min-width: 835px) {

.rs-navbar.rs-navbar-default{
    font-size: 1.2rem !important;
   background-color: #7C809B !important;
}
.rs-nav-item-content{
    font-size: 1.2rem !important;
}
.rs-btn-default, .rs-btn-primary, .rs-btn-subtle{
    color:rgb(19, 18, 18) !important;
    font-size: 1.2rem !important;
}
.rs-dropdown-item-content{
    font-size: 1.2rem !important;
    color:rgb(19, 18, 18) !important;
}
.rs-dropdown .rs-dropdown-toggle{
    font-size: 1.5rem !important;
}
.rs-dropdown-menu{
    font-size: 1.2rem !important;
    border: none !important;
    margin-left: 15px !important;
   
}
.rs-nav-item > .rs-nav-item-content{
    font-size: 1.2rem !important;
    color:rgb(19, 18, 18) !important;
}
a{
    text-decoration:none;
    color: rgb(19, 18, 18) !important;
    font-size: 1.5rem !important;
}
.navbar_burger{
  display: none;
}
}
.burger{
    display: none;
}

@media (max-width: 835px) {
    .desktop{
        display: none;
    }
    .burger{
       display: flex;
       flex-wrap: wrap;
       background-color: #7C809B !important;
       margin-top: 25px;
    }
    .rs-nav-item-content{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .rs-sidenav-nav > ul{
        visibility: hidden;
    }
    .rs-sidenav .rs-sidenav-nav > ul {
        display: flex;
        flex-direction: column;
        visibility: visible;
    }
    a{
        text-decoration:none;
        color: rgb(19, 18, 18) !important;
    }
    .hamburger-react{
        color: rgb(19, 18, 18) !important;
    }
    .rs-sidenav-collapse-in {
        background-color: #b0b4ce !important;
      
    }
   
}